<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Blog: Displaying Pictures!</title>
</head>

<body>
    <h1>Your Pictures:</h1>
    {{range .}}
    <img src="/resources/pics/{{.}}" width="400px">
    {{end}}

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="nf">
        <input type="submit">
    </form>
</body>

</html>