<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Homies</title>
</head>
<body>
<ul>
    {{range .Wisdom}}
    <li>{{.Name}} - {{.Motto}}</li>
    {{end}}
<ul>

<ul>
    {{range .Transport}}
    <li>{{.Manufacturer}} - {{.Model}} - {{.Doors}} door</li>
    {{end}}
</ul>
</body>
</html>